@model EntityLayer.Concrete.Skill

@{
    ViewData["Title"] = "EditSkill";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}



@*<div class="card-header border-0">
    <h3 class="mb-0">Yetenek Düzenleme Sayfası</h3>
</div>
@using(Html.BeginForm("EditSkill","Skill",FormMethod.Post)){
    @Html.HiddenFor(x=> x.SkillId)
    <br />
    @Html.Label("Yetenek Başlığı")
    @Html.TextBoxFor(x=> x.Title, new { @class = "form-control"})
    <br />
    <label>Değer</label>
    @Html.TextBoxFor(x=> x.Value, new { @class = "form-control"})
    <br />
    <button type="submit" class="btn btn-success">Güncelle</button>
}*@

@*TEMA DEĞİŞİKLİĞİ SONRASI*@

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <p class="card-description"> Yetenek Güncelleme Paneli </p>
            <form class="forms-sample" method="post">
                <div class="form-group">
                    <label>ID</label>
                    <input type="text" class="form-control" name="SkillId" value="@Model.SkillId">
                </div>
                <div class="form-group">
                    <label>Yetenek Başlığı</label>
                    <input type="text" class="form-control" name="Title" value="@Model.Title">
                </div>
                <div class="form-group">
                    <label>Değer</label>
                    <input type="text" class="form-control" name="Value" value="@Model.Value">
                </div>
                <button type="submit" class="btn btn-primary mr-2">Kaydet</button>
                <button class="btn btn-dark">İptal</button>
            </form>
        </div>
    </div>
</div>

